body {
    margin: 0;
    padding-top: 72px;
}

/*-----------header navigation------------*/
header{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    box-shadow: 0 6px 6px -8px;
    font-size: 1em;
    height: 4.5em;
}
nav img {
    margin-top: 39px;
    height: 122px;
}
nav ul {
    display: flex;
}

nav ul li{
    padding: 0 1.5em;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: lightblue;
    /* opacity: .3; */
}

a:hover {
    opacity: .6;
}


/* ----------- main site img ------------ */
#mimg{
    background: url("../images/MainPage.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 478px;
    display: flex;
    flex-direction: column;
}

#mimg::after{
    /* display:block; */
    /* position:relative; */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: auto;
    height: 4px;
    width: 100%;
    content: '';
}

#mimg p, #mimg h2{
    text-align: center;
    left:10%;
    color:white;
    text-shadow: 1px 1.3px rgba(0,0,0,.2);
}

#mimg h2{
    font-size:5.2em;
    padding: 0;

}

#mimg p{
    font-size:1.4em;
    padding: 0px 5.1em;
}

#mimg{
    width:100%;
}
#mimg img {
    height: 205px;
    margin-top: auto;
}

/*----------- home pg content -----------*/
.welcome-wrapper{
    text-align:center;
}

.welcome-wrapper h2{
    font-size: 2.5em;
    text-shadow: 5px 0px 11px #fff, 5px 2px 7px rgba(0,0,0,0.15);
}

.welcome{
    width: 45%;
    margin: auto;
    font-size: 1.35em;
    color: rgba(0,0,0,.7);
}
.welcome p {
    text-align: center;
}

#logistics {
    background: url("../images/Logistics.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
}

#logistics::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -250px;
    height: 250px;
    width: 100%;
    content: '';
  }
  #logistics p, #logistics h2{
      text-align: center;
      /*left: 10%;*/
      color: white;
      text-shadow: 1px 1.3px rgba(0,0,0,.2);
  }


/* ----------------footer------------------ */
footer{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
}
footer h4{
    margin-top: auto;
    opacity: .15;
    font-size: 1.5em;
}



/* ----------------About pg----------------------------- */
main {
    margin: 0 auto;
    width: 100%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    /* text-align: center; */
}
.main-img {
    margin-top: 73px;
    height: 26em;
}
.about-wrapper {
    text-align: center;
}
.about-wrapper h2{
    font-size: 2.5em;
    text-shadow: 5px 0px 11px #fff, 5px 2px 7px rgba(0,0,0,0.15);
    margin-top: 0;
    padding-top: .8em;
    margin-bottom: 36px;
}

.aboutCompany{
    width: 42%;
    max-width: 24em;
    margin: 3.1em auto;
    font-size: 1.35em;
    color: rgba(0,0,0,.7);
    border: 14px solid;
    padding: 0px 25px;
}
.aboutCompany p {
    text-align: justify;
}
.aboutCompany p:first-of-type{
    text-align: center;
}

/*------------ About page bottom image ---------------*/
#marg {
    background: url("../images/about-marg.jpg") no-repeat center center fixed;
    /* background-size: 100% 100%; */
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
}
#marg::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: auto;
  height: 8.4em;
  width: 100%;
  content: '';
}
#marg p, #marg h2{
    color: white;
    text-shadow: 1px 1.3px rgba(0,0,0,.2);
}
#marg h2{
    font-size: 5.2em;
    padding-top: 1.02em;
    text-align: center;
    margin-bottom: .6em
}
#about-p{
    text-align: justify;
    font-size: 1.258em;
    text-shadow: 1px 2px rgba(0,0,0,.2);
    background-color: rgba(0,0,70,.24);
    text-align: justify;
}
#marg p{
    width: 27em;
    margin: 10px auto;
    line-height: 35px;
}
#marg img{
    width: 100%;
}



/* ---------------------------------------Contact Page ----Val------------------------------------------- */

.background {
    background-color: #e6e6e6;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}

input[type=reset]:hover {
    cursor: pointer;
    background-color: rgb(160, 198, 209);
    transition: ease-in;
}

.contact {
    display: flex;
    margin: 0 3em;
    padding: 0 5em;
    font-family: 'Open Sans', sans-serif;
  }
  
.input {
    flex: 1;
  }

.social .fb img { 
    width: 6.22em;
    height: 6.22em;
    display: block;
    margin: auto;
    border-radius: 9%;
  }

.social .fb {
    margin-bottom: 2.3em;
  }

.social .tw img {
    width: 6.5em;
    height: 6.5em;
    display: block;
    margin: auto;
    border-radius: 10px;
  }

.social .tw {
    margin-bottom: 2.5em;
}

.subtext {
    text-align: center;
    margin-top: .1em;
    font-size: 0.9em;
}


.email h3{
    text-align: center;
    margin-bottom: -.5em;
}

.social {
    margin-top: 3em;
}

.email span {
    padding-left: 4.4em;
}

.imput-bar {
    border: 1px solid #dadada;
    border-radius: .5em;
    outline: 0;
    width: 80%;
    padding: 1em 1.1em;
    margin-bottom: 1.2em;
    font-size: 1em;
    box-shadow: 0.1em 0.1em 5px gainsboro;
}

.button {
    text-transform: uppercase;
    background-color: lightblue;
    color: white;
    padding: .7em 2em;
    font-size: larger;
    letter-spacing: .1em;
    box-shadow: 0.1em 0.1em 5px gainsboro;
    border: 0;
}

h1.standout {
    font-size: 2em;
    font-weight: 100;
}

.social .fb img:hover {
    box-shadow: 0 0 3px 2px rgba(102, 102, 102, 0.5);
}

.social .tw img:hover {
    box-shadow: 0 0 3px 2px rgba(102, 102, 102, 0.5);
}


/*----------------------- PRODUCTS PAGE - JORDAN ------------------------------*/

.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    background-color: rgba(192, 192, 192, 0.5);
}

.product{
    display: none;
    width: 17%;
    height: 20em;
    margin: 1em;
    padding: 1.4em;
    background-color: white;
    box-shadow: 0 0.8em 1.2em 0 rgba(27, 27, 27, 0.2);
    border-radius: 0.7em;
}
    
.product:hover{
    box-shadow: 0 1.5em 2em rgba(12, 12, 12, 0.7);
}


.product h4{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
}


.product p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    line-height: 1.7em;
}

.price p{
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.product-image{
    display: block;
    width: 95%;
    height: 8em;
    margin: 2em auto;
    border-radius: 0.7em 0.2em 0.7em 0.2em;
}
